
.card {
  margin-right: 10px;
  padding: 30px;
}

.carinho-content {
  margin-top: 20px;
  display: flex;
}

.carrinho-tabela {
  width: 100%;
}

.carrinho-pagamento {
  width: 50%;
} 

.pagamento-titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-confirmar-pgto {
  width: 100%;
}
